ENABLE_PUSH_NOTIFICATIONS=True
ICON=
MONGO_DB_URI=mongodb://root:password@localhost:27017
MONGO_DB_NAME=inbox
ON_RECEIVE_NOTIFICATION_WEBHOOK_URL=""
ALLOWED_ADMIN_ORIGINS='["*"]'
ALLOWED_ORIGINS='["*"]'
SUBSCRIBER=mailto:
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
